{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% if settings.format %}
        {% if settings.title %}
            <h3 class="sonata-media-block-media-title">{{ settings.title }}</h3>
        {% endif %}

        {% sonata_template_box 'This is the gallery media block. Feel free to override it.' %}

        <div class="sonata-media-block-gallery-container">
            <div id="sonata-media-block-gallery-{{ block.id }}" class="nivoGallery">
                <ul>
                    {% for element in elements %}
                        <li data-type="{{ element.type }}" data-title="{{ element.title }}" data-caption="{{ element.caption }}">
                            {% if element.type == 'image' %}
                                {% media element.media, settings.format %}
                            {% elseif element.type == 'video' %}
                                {% media element.media, settings.format %}
                            {% endif %}
                        </li>
                    {% else %}
                        {# no elements #}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#sonata-media-block-gallery-{{ block.id }}').nivoGallery({
                     pauseTime:     {{ settings.pauseTime }},
                     animSpeed:     {{ settings.animSpeed }},
                     effect:        'fade',
                     startPaused:   {% if settings.startPaused == 1 %}true{% else %}false{% endif %},
                     directionNav:  {% if settings.directionNav == 1 %}true{% else %}false{% endif %},
                     progressBar:   {% if settings.progressBar == 1 %}true{% else %}false{% endif %}
                });
            });
        </script>
    {% endif %}
{% endblock %}
