{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}

    <ul class="nav nav-pills">
        <li><a><strong>{{ "label.select_context"|trans({}, 'SonataMediaBundle') }}</strong></a></li>
        {% for name, context in media_pool.contexts %}
            {% if context.providers|length == 0 %}
                {% set urlParams = {'context' : name } %}
            {% else %}
                {% set urlParams = {'context' : name, 'provider' : context.providers[0] } %}
            {% endif %}

            {% if name == persistent_parameters.context %}
                <li class="active"><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}
        {% endfor %}

        {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}

        {% if providers|length > 1 %}
            <li><a><strong>{{ "label.select_provider"|trans({}, 'SonataMediaBundle') }}</strong></a></li>

            {% if not persistent_parameters.provider %}
                <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}

            {% for provider_name in providers %}
                {% if persistent_parameters.provider == provider_name%}
                    <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}


{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form class="sonata-filter-form form-stacked {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">

            <input type="hidden" name="context" value="{{ persistent_parameters.context }}" />
            <input type="hidden" name="provider" value="{{ persistent_parameters.provider }}" />

            <fieldset class="filter_legend">
                <legend class="filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</legend>

                <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                    <table class="table table-bordered">
                        {% for filter in admin.datagrid.filters %}
                            <tr id="filter_{{ filter.name }}_row" class="filter {{ filter.isActive ? 'active' : 'inactive' }}">
                                <td class="filter-title">{{ admin.trans(filter.label) }}</td>
                                <td class="filter-type">{{ form_widget(form.children[filter.formName].children['type']) }}</td>
                                <td class="filter-value">{{ form_widget(form.children[filter.formName].children['value']) }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                    {% set foo = form.children['_page'].setRendered() %}
                    {{ form_rest(form) }}

                    <input type="submit" class="btn btn-primary" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}" />

                    <a class="btn" href="{{ admin.generateUrl('list') }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>

                </div>
            </fieldset>

        </form>
    {% endif %}
{% endblock %}