{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="pull-left span1">
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
            <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}" style="float: left; margin-right: 6px;">{% thumbnail object, 'admin' with {'width': 75, 'height': 60} %}</a>
        {% else %}
            {% thumbnail object, 'admin' with {'width': 75, 'height': 60, 'style': 'float: left; margin-right: 6px'} %}
        {% endif %}
        <strong>{{ object.name }}</strong> <br />
        <span type="label">{{ object.providerName|trans({}, 'SonataMediaBundle') }}</span>
    </div>

    <div class="span1 pull-left">
        <ul>
            <li>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}: {% if object.width %} {{ object.width }}{% if object.height %}x{{ object.height }}{% endif %}px{% endif %}</li>
            {% if object.length > 0 %}
                <li>{{ 'label.length'|trans({}, 'SonataMediaBundle') }}: {{ object.length }}</li>
            {% endif %}
            <li>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}: {{ object.contenttype }}</li>
        </ul>
    </div>

    <div class="span1 pull-left">
        <ul>
            {% if object.copyright is not empty %}
                <li>{{ 'label.copyright'|trans({}, 'SonataMediaBundle') }}: {{ object.copyright }}</li>
            {% endif  %}
            {% if object.authorname is not empty %}
                <li>{{ 'label.author_name'|trans({}, 'SonataMediaBundle') }}: {{ object.authorname }}</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
