{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% import _self as tree %}
{% macro navigate_child(collection, admin, root) %}
    <ul{% if root %} class="sonata-tree sonata-tree--toggleable js-treeview"{% endif %}>
        {% for element in collection %}
            <li>
                <div class="sonata-tree__item">
                    {% if element.parent %}<i class="fa fa-caret-right" data-treeview-toggler></i>{% endif %}
                    <a class="sonata-tree__item__edit" href="{{ url(app.request.attributes.get('_route'), app.request.query.all|merge({category: element.id})) }}">{{ element.name }}</a>
                </div>

                {% if element.children|length %}
                    {{ _self.navigate_child(element.children, admin, false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block list_header %}
    <div class="pull-left">
        {{ tree.navigate_child(root_category.children, admin, true) }}
    </div>

{% endblock %}


{% block list_table %}
    <div class="box box-primary">
        <div class="box-body">
            <ul class="nav nav-pills">
                <li><a><strong>{{ "label.select_context"|trans({}, 'SonataMediaBundle') }}</strong></a></li>
                {% for name, context in media_pool.contexts %}
                    {% if context.providers|length == 0 %}
                        {% set urlParams = {'context' : name } %}
                    {% else %}
                        {% set urlParams = {'context' : name, 'provider' : context.providers[0] } %}
                    {% endif %}

                    {% if name == persistent_parameters.context %}
                        <li class="active"><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                    {% else %}
                        <li><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                    {% endif %}
                {% endfor %}

                {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}

                {% if providers|length > 1 %}
                        </ul>
                    </div>
                    <div class="box-footer">
                        <ul class="nav nav-pills">
                            <li><a><strong>{{ "label.select_provider"|trans({}, 'SonataMediaBundle') }}</strong></a></li>

                            {% if not persistent_parameters.provider %}
                                <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
                            {% endif %}

                            {% for provider_name in providers %}
                                {% if persistent_parameters.provider == provider_name%}
                                    <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                                {% else %}
                                    <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                                {% endif %}
                            {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    {{ parent() }}

{% endblock %}