{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataMediaBundle:MediaAdmin:provider_edit.html.twig' %}

{% block title %}{% trans 'title_edit_dailymotion' from 'MediaBundle' %}{% endblock %}

{% block preview %}{% media media, 'admin' %}{% endblock %}

{% block form %}
    <form method="POST" action="{{ admin.generateUrl('update', {'id' : media.id }) }}">
        {{ form_hidden(form) }}

        <p>
            {{ form_label(form.binary_content) }} <br />
            {{ form_field(form.binary_content, {'class' : 'title'}) }}
            {{ form_errors(form.binary_content) }}
        </p>

        <p>
            {{ form_label(form.enabled) }} <br />
            {{ form_field(form.enabled, {'class' : 'title'}) }}
            {{ form_errors(form.enabled) }}
        </p>

        <p>
            {{ form_label(form.name) }} <br />
            {{ form_field(form.name, {'class' : 'title'}) }}
            {{ form_errors(form.name) }}
        </p>

        <p>
            {{ form_label(form.description) }} <br />
            {{ form_field(form.description, {'class' : 'title'}) }}
            {{ form_errors(form.description) }}
        </p>

        <p>
            {{ form_label(form.author_name) }} <br />
            {{ form_field(form.author_name, {'class' : 'title'}) }}
            {{ form_errors(form.author_name) }}
        </p>

        <p>
            {{ form_label(form.copyright) }} <br />
            {{ form_field(form.copyright, {'class' : 'title'}) }}
            {{ form_errors(form.copyright) }}
        </p>

        <p>
            {{ form_label(form.cdn_is_flushable) }} <br />
            {{ form_field(form.cdn_is_flushable, {'class' : 'title'}) }}
            {{ form_errors(form.cdn_is_flushable) }}
        </p>

        <input type="submit" value="{% trans 'btn_update' from 'MediaBundle' %}" />
    </form>

{% endblock %}
