{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'MediaBundle:MediaAdmin:provider_create.twig' %}

{% block title %}{% trans 'title_add_youtube' from 'MediaBundle' %}{% endblock %}

{% block content %}
    {% block form %}
        <form method="POST" action="{{ url(urls.create.url, {'provider' : provider_name }) }}">
            {{ form|render_hidden }}

            <p>
                {{ form.binary_content|render_label }} <br />
                {{ form.binary_content|render({'class' : 'title'}) }}
                {{ form.binary_content|render_errors }}
            </p>

            <input type="submit" value="{% trans 'btn_create' from 'MediaBundle' %}" />
        </form>

    {% endblock %}
{% endblock %}