{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <h2>{{ media.name }}</h2>

    <div class="row">
        <div class="col-md-12">
            {% block sonata_media_show_reference %}
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }} ~ {{ format }}</h3>
                </div>
                <div class="box-body">
                    {% media media, format with {'class': 'img-responsive img-rounded', 'width': null, 'height': null} %}
                </div>

                {% if pixlr and pixlr.isEditable(media) %}
                    <div class="box-footer">
                        <button class="btn btn-default pixlr-link"
                           data-href="{{ path('sonata_media_pixlr_edit', { 'id': media|sonata_urlsafeid, 'mode': 'express' }) }}"
                           data-toggle="modal"
                           data-target="#pixlr-modal"
                            >
                            {{ "label.pixlr_express_editor"|trans({}, "SonataMediaBundle")|raw }}
                        </button>
                        <button class="btn btn-default pixlr-link"
                           data-href="{{ path('sonata_media_pixlr_edit', { 'id': media|sonata_urlsafeid, 'mode': 'editor' }) }}"
                           data-toggle="modal"
                           data-target="#pixlr-modal"
                            >
                            {{ "label.pixlr_advanced_editor"|trans({}, "SonataMediaBundle")|raw }}
                        </button>
                    </div>

                    <div class="modal fade" id="pixlr-modal" tabindex="-1" role="dialog" aria-labelledby="{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}</h4>
                                </div>
                                <div class="modal-body" id="pixlr-modal-body">
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('button.pixlr-link').on('click', function(e) {
                            e.preventDefault();
                            var url = $(this).attr('data-href');
                            $("#pixlr-modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true" src="'+url+'"></iframe>');

                        });

                        $('#pixlr-modal').on('show.bs.modal', function () {

                            $(this).find('.modal-dialog').css({
                                width:'60%', //choose your width
                                height:'80%',
                                'padding':'0'
                            });
                            $(this).find('.modal-content').css({
                                'border-radius':'0',
                                height: '100%',
                                'padding':'0'
                            });
                            $(this).find('.modal-body').css({
                                width:'auto',
                                height:'100%',
                                'padding':'0'
                            });
                        });
                    </script>
                {% endif %}
            </div>
            {% endblock sonata_media_show_reference %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            {% block sonata_media_show_information %}
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">{{ 'title.informations'|trans({}, 'SonataMediaBundle') }}</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr>
                            <th>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.size }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.width'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.width }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.height'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.height }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.contenttype }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.copyright'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.copyright }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.author_name'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ media.authorname }}</td>
                        <tr>
                        <tr>
                            <th>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>
                                {% if media.cdnisflushable %}
                                    {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                                {% else %}
                                    {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                                    {{ media.cdnflushat|date }}
                                {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <th>{{ 'label.protected_download_url'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>
                                <input type="text" value="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}" style="width:500px"/>
                                <a href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}">{{ 'link.test_protected_url'|trans({}, 'SonataMediaBundle') }}</a>
                                <br />
                                <span class="label warning">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ security.description }}
                            </td>
                        <tr>

                        <tr>
                            <th>{{ 'label.public_url'|trans({}, 'SonataMediaBundle') }}</th>
                            <td><input type="text" value="{% path media, format %}" style="width:500px"/></td>
                        <tr>
                    </table>
                </div>
            </div>
            {% endblock sonata_media_show_information %}
        </div>

        <div class="col-md-6 col-sm-12">
            {% block sonata_media_show_formats %}
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ 'title.formats'|trans({}, 'SonataMediaBundle') }}</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr>
                            <th>
                                <a href="{{ admin.generateUrl('show', { 'id' : media|sonata_urlsafeid , 'format' : 'reference'}) }}">reference</a>
                            </th>
                            <td>
                                <input type="text" value="{% path media, 'reference' %}"  style="width:500px" />
                            </td>
                        </tr>

                        {% for name, format in formats %}
                            <tr>
                                <th>
                                    <a href="{{ admin.generateUrl('show', { 'id' : media|sonata_urlsafeid , 'format' : name}) }}">{{ name }}</a>
                                </th>
                                <td>
                                    <input type="text" value="{% path media, name %}"  style="width:500px"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endblock sonata_media_show_formats %}
        </div>
    </div>
{% endblock %}
