{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <h2>{{ media.name }} ({{ format }})</h2>

    <h3>{% trans from 'SonataMediaBundle' %}title.media_preview{% endtrans %}</h3>
    <div>
        {% media media, format %}
    </div>

    <h3>{% trans from 'SonataMediaBundle' %}title.informations{% endtrans %}</h3>

    <table>
        {% if pixlr and pixlr.isEditable(media) %}
            <tr>
                <td></td>
                <td><a class="btn" href="{{ path('sonata_media_pixlr_open_editor', {'id': media.id }) }}">{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}</a></td>
            </tr>
        {% endif %}
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.size{% endtrans %}</td>
            <td>{{ media.size }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.width{% endtrans %}</td>
            <td>{{ media.width }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.height{% endtrans %}</td>
            <td>{{ media.height }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.content_type{% endtrans %}</td>
            <td>{{ media.contenttype }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.copyright{% endtrans %}</td>
            <td>{{ media.copyright }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.author_name{% endtrans %}</td>
            <td>{{ media.authorname }}</td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.cdn{% endtrans %}</td>
            <td>
                {% if media.cdnisflushable %}
                    {% trans from 'SonataMediaBundle' %}label.to_be_flushed{% endtrans %}
                {% else %}
                    {% trans from 'SonataMediaBundle' %}label.flushed_at{% endtrans %}
                    {{ media.cdnflushat|date }}
                 {% endif %}
            </td>
        <tr>
        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.protected_download_url{% endtrans %}</td>
            <td>
                <input type="text" value="{{ path('sonata_media_download', {'id': media.id}) }}" style="width:500px"/>
                <a href="{{ path('sonata_media_download', {'id': media.id}) }}">{% trans from 'SonataMediaBundle' %}link.test_protected_url{% endtrans %}</a>
                <br />
                <span class="label warning">{% trans from 'SonataMediaBundle' %}label.protected_download_url_notice{% endtrans %}</span> {{ security.description }}
            </td>
        <tr>

        <tr>
            <td>{% trans from 'SonataMediaBundle' %}label.public_url{% endtrans %}</td>
            <td><input type="text" value="{% path media, format %}" style="width:500px"/></td>
        <tr>
    </table>

    <h3>{% trans from 'SonataMediaBundle' %}title.formats{% endtrans %}</h3>
    <table>
        <tr>
            <td>
                <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : 'reference'}) }}">reference</a>
            </td>
            <td>
                <input type="text" value="{% path media, 'reference' %}"  style="width:500px" />
            </td>
        </tr>

        {% for name, format in formats %}
            <tr>
                <td>
                    <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : name}) }}">{{ name }}</a>
                </td>
                <td>
                    <input type="text" value="{% path media, name %}"  style="width:500px"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}