{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <h2>{{ media.name }} ({{ format }})</h2>

    <h3>{% trans from 'MediaBundle' %}title.media_preview{% endtrans %}</h3>
    <div>
        {% media media, format %}
    </div>

    <h3>{% trans from 'MediaBundle' %}title.media_thumbnail{% endtrans %}</h3>
    <div>
        {% thumbnail media, format %}
    </div>

    <h3>{% trans from 'MediaBundle' %}title.informations{% endtrans %}</h3>

    <table>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.size{% endtrans %}</td>
            <td>{{ media.size }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.width{% endtrans %}</td>
            <td>{{ media.width }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.height{% endtrans %}</td>
            <td>{{ media.height }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.content_type{% endtrans %}</td>
            <td>{{ media.contenttype }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.copyright{% endtrans %}</td>
            <td>{{ media.copyright }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.author_name{% endtrans %}</td>
            <td>{{ media.authorname }}</td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.cdn{% endtrans %}</td>
            <td>
                {% if media.cdnisflushable %}
                    {% trans from 'MediaBundle' %}label.to_be_flushed{% endtrans %}
                {% else %}
                    {% trans from 'MediaBundle' %}label.to_be_flushed{% endtrans %}

                    {% set date = media.cdnflushat|date %}
                    {% trans from 'MediaBundle' %}label.flushed_at{% endtrans %}
                 {% endif %}
            </td>
        <tr>
        <tr>
            <td>{% trans from 'MediaBundle' %}label.public_url{% endtrans %}</td>
            <td><input type="text" value="{% path media, format %}" style="width:500px"/></td>
        <tr>
    </table>

    <h3>{% trans from 'MediaBundle' %}title.formats{% endtrans %}</h3>
    <table>
        <tr>
            <td>
                <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : 'reference'}) }}">reference</a>
            </td>
            <td>
                <input type="text" value="{% path media, 'reference' %}"  style="width:500px" />
            </td>
        </tr>

        {% for name, format in formats %}
            <tr>
                <td>
                    <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : name}) }}">{{ name }}</a>
                </td>
                <td>
                    <input type="text" value="{% path media, name %}"  style="width:500px"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}