{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <h2>{{ media.name }} ({{ format }})</h2>

    <h3>{% trans "title.media_preview" from 'MediaBundle' %}</h3>
    <div>
        {% media media, format %}
    </div>

    <h3>{% trans "title.media_thumbnail" from 'MediaBundle' %}</h3>
    <div>
        {% thumbnail media, format %}
    </div>

    <h3>{% trans "title.informations" from 'MediaBundle' %}</h3>

    <table>
        <tr>
            <td>{% trans "label.size" from 'MediaBundle' %}</td>
            <td>{{ media.size }}</td>
        <tr>
        <tr>
            <td>{% trans "label.width" from 'MediaBundle' %}</td>
            <td>{{ media.width }}</td>
        <tr>
        <tr>
            <td>{% trans "label.height" from 'MediaBundle' %}</td>
            <td>{{ media.height }}</td>
        <tr>
        <tr>
            <td>{% trans "label.content_type" from 'MediaBundle' %}</td>
            <td>{{ media.contenttype }}</td>
        <tr>
        <tr>
            <td>{% trans "label.copyright" from 'MediaBundle' %}</td>
            <td>{{ media.copyright }}</td>
        <tr>
        <tr>
            <td>{% trans "label.author_name" from 'MediaBundle' %}</td>
            <td>{{ media.authorname }}</td>
        <tr>
        <tr>
            <td>{% trans "label.cdn" from 'MediaBundle' %}</td>
            <td>
                {% if media.cdnisflushable %}
                    {% trans "label.to_be_flushed" from 'MediaBundle' %}
                {% else %}
                    {% trans "label.to_be_flushed" from 'MediaBundle' %}

                    {% set date = media.cdnflushat|date %}
                    {% trans from 'MediaBundle' %}
                        label.flushed_at
                    {% endtrans %}
                 {% endif %}
            </td>
        <tr>
        <tr>
            <td>{% trans "label.public_url" from 'MediaBundle' %}</td>
            <td><input type="text" value="{% path media, format %}" style="width:500px"/></td>
        <tr>
    </table>

    <h3>{% trans "title.formats" from 'MediaBundle' %}</h3>
    <table>
        <tr>
            <td>
                <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : 'reference'}) }}">reference</a>
            </td>
            <td>
                <input type="text" value="{% path media, 'reference' %}"  style="width:500px" />
            </td>
        </tr>

        {% for name, format in formats %}
            <tr>
                <td>
                    <a href="{{ admin.generateUrl('view', { 'id' : media.id, 'format' : name}) }}">{{ name }}</a>
                </td>
                <td>
                    <input type="text" value="{% path media, name %}"  style="width:500px"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}