{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default {{ settings.class }}">
        {% if settings.title is not empty %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if settings.icon %}
                        <i class="{{ settings.icon }}" aria-hidden="true"></i>
                    {% endif %}
                    {% if settings.translation_domain %}
                        {{ settings.title|trans({}, settings.translation_domain) }}
                    {% else %}
                        {{ settings.title }}
                    {% endif %}
                </h4>
            </div>
        {% endif %}

        <div class="panel-body">
            <div class="list-group">
                {% for gallery in pager.getResults() %}
                    {% if settings.mode == 'admin' and sonata_admin is defined %}
                        <a href="{{ sonata_admin.url('sonata.media.admin.gallery', 'edit', { 'id': gallery.id, 'context': gallery.context }) }}" class="list-group-item">
                            {% if gallery.enabled %}
                                <span class="label label-success pull-right">{{ 'label_gallery_enabled'|trans({}, 'SonataMediaBundle') }}</span>
                            {% else %}
                                <span class="label label-danger pull-right">{{ 'label_gallery_disabled'|trans({}, 'SonataMediaBundle') }}</span>
                            {% endif %}
                            {{ gallery.name }}
                        </a>
                    {% else %}
                        <a href="{{ url('sonata_media_gallery_view', { 'id': gallery.id }) }}" class="list-group-item">
                            {{ gallery.name }}
                        </a>
                    {% endif %}
                {% else %}
                    <span class="list-group-item">{{ 'no_galleries_found'|trans({}, 'SonataMediaBundle') }}</span>
                {% endfor %}
            </div>

            {% if settings.mode == 'admin' and sonata_admin is defined %}
                {% if settings.context %}
                    <a href="{{ sonata_admin.url('sonata.media.admin.gallery', 'list', {context:settings.context }) }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> {{ 'view_all_galleries'|trans({}, 'SonataMediaBundle') }}
                    </a>
                {% else %}
                    <a href="{{ sonata_admin.url('sonata.media.admin.gallery', 'list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> {{ 'view_all_galleries'|trans({}, 'SonataMediaBundle') }}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
