{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% sonata_template_box 'This is the gallery view template. Feel free to override it.' %}

{% block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'gallery_view', 'gallery': gallery, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

<h1>{{ gallery.name }}</h1>

<div class="sonata-media-gallery-media-list">
    {% for galleryHasMedia in gallery.GalleryHasMedias %}
        <div class="media sonata-media-gallery-media-item">
            <a class="pull-left sonata-media-gallery-media-item-link" href="{{ url('sonata_media_view', {'id': galleryHasMedia.media|sonata_urlsafeid }) }}">
                {% thumbnail galleryHasMedia.media, gallery.defaultFormat with {'class': 'media-object'} %}
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ galleryHasMedia.media.name }}</h4>
                <p>{{ galleryHasMedia.media.description|raw }}</p>
            </div>
        </div>
    {% endfor %}
</div>
