{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataAdminBundle::empty_layout.html.twig" %}


{% block title %}Pixlr Editor{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header {
            text-align: center;
            background: none repeat scroll 0 0 #222222;
            border-bottom: 5px solid #B6B6B6;
            padding: 15px 0;
        }

        a.pixlr-box {
            text-align: center;
            width: 230px;
            float: left;
            margin: 30px;
            margin-left: 35px;
            margin-right: 35px;

            padding: 30px;
            text-decoration: none;

            color: #B6B6B6;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border:9px solid #B6B6B6;
            background-color:#222222;
        }

        a.pixlr-box:hover {
            color: #222222;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border:9px solid #222222;
            background-color:#B6B6B6;
            text-decoration: none;
        }

        .centered {
            float: none;
            margin: 0 auto;
        }
    </style>
{% endblock stylesheets %}


{% block sonata_wrapper %}
    <section class="content">
        <div class="row header">
           <div class="col-sm-12">
               <img src="{{ asset('bundles/sonatamedia/extra/pixlr/pixlr.png')}}" alt="Pixlr"/>
           </div>
       </div>

        <div class="row">
            <div class="col-sm-6 centered">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ url('sonata_media_pixlr_edit', {'id': media|sonata_urlsafeid , 'mode': 'express'}) }}" class="pixlr-box">
                            <img src="{{ asset('bundles/sonatamedia/extra/pixlr/express_128.png')}}" alt="Pixlr Express"/>
                            {{ "label.pixlr_express_editor"|trans({}, "SonataMediaBundle")|raw }}
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ url('sonata_media_pixlr_edit', {'id': media|sonata_urlsafeid , 'mode': 'editor'}) }}" class="pixlr-box">
                            <img src="{{ asset('bundles/sonatamedia/extra/pixlr/editor_128.png')}}" alt="Pixlr Editor"/>
                            {{ "label.pixlr_advanced_editor"|trans({}, "SonataMediaBundle")|raw }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 centered">
                        <div class="alert alert-warning">
                            {{ "label.pixlr_warning"|trans({}, "SonataMediaBundle")|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
